.App {
  text-align: center;
  /* align-content: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(5px + 2vmin);
  color: white;
  padding-top: 1em;
  width: 100%;
}

p {
  /* max-height: 12px; */
  /* margin: 5px 0px; */
  font-size: 1em;
}

.worldSummary {
  margin: 1.5em 0em;
  font-weight: 200;
  font-size: 0.5em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchDiv {
  /* margin: 15% 0% 10% 0%; */
  /* border: 5px solid red; */
  max-height: 5%;
  margin: 5% auto 10% auto;
  width: 50%;
}

.displayResult {
  /* border: 5px solid red; */
  margin: 0px 20px;
}

.WorldResult {
  /* border: 0.25pt solid #474a52; */
  border-radius: 1em;
  margin: 0em 0.1em;
  /* max-width: 45%;  */
  padding: 0.5em 1em;
  /* font-size: 1.25em; */
  /* line-height: 4px; */
}

.DomesticResult {
  /* border: 0.25pt solid #474a52; */
  border-radius: 1em;
  margin: 0em 0.1em;
  /* max-width: 80%; */
  padding: 0.5em 1em;
  font-size: 1.25em;
  /* line-height: 4px; */
}

.Chart {
  margin: 1em 11em 0em 0em;
}


.ChartFont {
  font-size: 0.67em;;
}
/* .LineChart {
  margin: 1em 1em; 
} */

.sort {
  margin: 4em auto 1em auto;
  width: 80%;
}

#columnWrap {
  line-height: 0.6em;
  margin: 0em 0em; 
}

/* .WorldResult {
  border: 2pt solid #2F3418;
  border-radius: 1em;
  margin: 0.2em 4em;
  max-width: 80%; 
  /* padding: 0.25em 1em;
  font-size: 1.5em; 
} */

/* .mainContent {
  background-color: #53565d;
} */

/* .gridColumn {
  margin-right: 1em; 
}  */

/* .row {
  display: block;
  justify-content: center;
}  */