.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(5px + 2vmin);
  color: white;
  margin-top: 1em;
}

p {
  /* max-height: 12px; */
  margin: 5px 0px;
  font-size: 0.7em;
}

.worldSummary {
  margin: 1em 0em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchDiv {
  margin-bottom: 10%;
  /* border: 5px solid red; */
  max-height: 5%;
}

.displayResult {
  /* border: 5px solid red; */
  margin: 0px 20px;
}

.DomesticResult {
  border: 2pt solid #474a52;
  border-radius: 1em;
  margin: 0.2em 4em;
  /* max-width: 80%; */
  padding: 0.5em 1em;
}

.WorldResult {
  border: 2pt solid #2F3418;
  border-radius: 1em;
  margin: 0.2em 4em;
  /* max-width: 80%; */
  padding: 0.25em 1em;
}